<header class="header-on-top">
  <ul>
    <li><a href="#">Films</a></li>
    <li><a href="#">Restaurants</a></li>
    <li><a href="#">Books</a></li>
    <li><a href="#">Products</a></li>
    <li><a href="#">Other</a></li>
    <li><a href="/notes">New</a></li>
    <li id="login-link"><a href="/login">Login</a></li>
    <li id="register-link"><a href="/register">Register</a></li>
    <li id="logout-link" style="display: none;"><a href="#">Logout</a></li>
    <div class="nav-box"></div>
  </ul>
</header>
