<header class="header-on-top">
  <ul>
      <li><a href="#">Films</a></li>
      <li><a href="#">Restaurants</a></li>
      <li><a href="#">Books</a></li>
      <li><a href="#">Products</a></li>
      <li><a href="#">Other</a></li>
      <li><a href="#">New</a></li>
      <li><a href="#">Login</a></li>
      <li><a href="#">Register</a></li>
      <div class="nav-box"></div>
  </ul>
</header>
