<header class="header-on-top">
  <ul>
    <li class="category-list-item" data-id="0"><a href="#">All</a></li>
    <li class="category-list-item" data-id="1"><a href="#">Buy</a></li>
    <li class="category-list-item" data-id="2"><a href="#">Read</a></li>
    <li class="category-list-item" data-id="3"><a href="#">Watch</a></li>
    <li class="category-list-item" data-id="4"><a href="#">Eat</a></li>
    <li class="category-list-item" data-id="5"><a href="#">Other</a></li>
    <li id="login-link"><a href="/users/login">Login</a></li>
    <li id="register-link"><a href="/users/register">Register</a></li>
    <li id="logout-link" style="display: none;"><a href="#">Logout</a></li>
    <div class="nav-box"></div>
  </ul>
</header>
