* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  min-height: 100vh;
  background: url(./1.jpg) center / cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
